@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
p,
a {
  font-family: "Work Sans", sans-serif;
}

h1,
h2 {
  font-weight: bolder;
}

p {
  font-size: 20px;
}

.App {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.ball,
.mb-ball {
  background-color: white;
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 1);
}

.ball-darkMode {
  background-color: black !important;
  -webkit-box-shadow: 0px 0px 17px -2px rgb(253, 253, 253) !important;
  -moz-box-shadow: 0px 0px 17px -2px rgb(255, 255, 255) !important;
  box-shadow: 0px 0px 17px -2px rgb(255, 255, 255) !important;
}

.chat .container {
  height: 692px !important;
}

.darkMode {
  color: black;
}

.lightMode {
  color: black;
}

.menu-btn{
  transition: scale .4s ease;
}

.menu-btn:active{
  scale: 0.9;
}

.message-form {
  border-bottom: 1px solid black;
}

.message-form-dark{
  border-bottom: 1px solid rgb(255, 255, 255);
}

.option-menu {
  width: 100%;
  text-align: center;
  transition: background-color, color .2s ease-in;
}

.option-menu:hover{
  background-color: #3772ff;
  color: white;
}

.option-menu:active {
  background-color: #4980ff;
}

.send-btn {
  width: 90px;
  background-color: #3772ff;
  color: white;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px 10px;
  transition: background-color, scale .1s ease-in;
}

.send-btn:hover{
  background-color: #4980ff;
}

.send-btn:active{
  scale: 0.9;
}

.smallText {
  font-size: 18px;
}

.subtitle {
  font-size: 35px;
}

.text {
  font-size: 20px;
}

.theme-lbl,
.mb-theme-lbl {
  cursor: pointer;
}

.theme-lbl .ball,
.mb-theme-lbl .mb-ball {
  transition: transform 0.4s ease-out;
}

.theme-btn:checked + .theme-lbl .ball,
.mb-theme-btn:checked + .mb-theme-lbl .mb-ball {
  transform: translateX(40px);
  background-color: #fff;
}

.title {
  font-size: 40px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #9e0031;
  border-radius: 20px;
}

@media screen and (max-width: 650px) {
  * {
    word-break: break-all;
  }
}

@media screen and (max-width: 500px) {
  .app-links {
    padding-bottom: 20px !important;
  }

  .change-theme {
    display: none;
    width: 0px;
  }

  .container {
    padding: 0px 8px;
  }

  .description {
    padding-bottom: 20px;
  }

  .description p {
    text-align: center;
  }

  .header .container {
    flex-direction: row-reverse;
  }
  /*flex flex-col items-center*/
  .mb-change-theme {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .messages {
    padding: 0px 4px;
  }

  .message {
    padding: 8px !important;
  }

  .smallText {
    font-size: 14px;
  }
  
  .subtitle {
    font-size: 20px;
  }

  .title {
    font-size: 24px;
  }

  .title-container {
    text-align: center;
  }

  .text {
    font-size: 16px;
  }
}
